path/to/large/file filter=lfs diff=lfs merge=lfs -text
public/css/style.css filter=lfs diff=lfs merge=lfs -text
public/img/overview.html filter=lfs diff=lfs merge=lfs -text
public/img/tour.html filter=lfs diff=lfs merge=lfs -text
public/img/users filter=lfs diff=lfs merge=lfs -text
